body {font: 9pt Arial,sans-serif;margin: 0 auto;padding: 0;color: #787979;background-color: #edeef0}
tr, td, img {border-width: 0;margin: 0;padding: 0;}
.clear {clear: both;height: 1px;font-size: 0;line-height: 0;}
.displaynone {display: none;}
.displaytrue {overflow: hidden;}
a {outline: none;}
form {margin: 0;padding: 0;}
table {border-collapse: collapse;}
.clear {clear: both;}
* {padding: 0;margin: 0;}
p {margin: 5px 0px 5px 0px;}
input, textarea {font-size: 12px;}
textarea {padding: 0px;margin: 0px;}
ol, ul {list-style:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after {content:'';content:none;}
:focus {outline:0;}
.strong {font-weight: bold;}
.right {text-align: right;}
.left {text-align: left;}
.center {text-align: center;}
.fontsize14 {font-size: 14px;}
.fontsize16 {font-size: 16px;}
.fontsize18 {font-size: 18px;}
.fontsize20 {font-size: 20px;}
.fontsize22 {font-size: 22px;}
.lineheight150 {line-height: 150%;}
.lineheight180 {line-height: 180%;}
.lineheight200 {line-height: 200%;}
.fonttextindent2em{text-indent:2em;}
.fontstyle{font-family: 微软雅黑,幼圆,黑体,Arial, Helvetica, sans-serif;}

.margintop8 {margin-top: 8px;}

.fc1{color:#e1bf91}
.orange{color:#d45500}
.orange2{color:#fe5000}
.red{color:#ee335a}

a {font-size: 12px;color: #626262;text-decoration: none;}
a:visited {font-size: 12px;color: #626262;text-decoration: none;}
a:hover {color: #d45500;font-size: 12px;text-decoration: underline;}

a.menulink {font-size: 14px;color: #fff;text-decoration: none;font-weight: bold;}
a:visited.menulink {font-size: 14px;color: #fff;text-decoration: none;font-weight: bold;}
a:hover.menulink{color: #6d4836;font-size: 14px;text-decoration: underline;font-weight: bold;}

a.shoplink {font-size:14px;color:#c9c3c0;text-decoration: none;font-weight: bold;}
a:visited.shoplink{font-size:14px;color:#c9c3c0;text-decoration: none;font-weight: bold;}
a:hover.shoplink{color: #6d4836;font-size: 14px;text-decoration: underline;font-weight: bold;}

a.foterlink {font-size: 12px;color: #e1bf91;text-decoration: none;}
a:visited.foterlink {font-size: 12px;color: #e1bf91;text-decoration: none;}
a:hover.foterlink{color: #fff;font-size: 12px;text-decoration: underline;}

a.keyword {font-size: 14px;color: #beafa9;text-decoration: none;font-weight: bold;}
a:visited.keyword {font-size: 14px;color: #beafa9;text-decoration: none;font-weight: bold;}
a:hover.keyword{color: #6d4836;font-size: 14px;text-decoration: underline;font-weight: bold;}

a.proclass {font-size: 14px;color: #6f625c;text-decoration: none;}
a:visited.proclass  {font-size: 14px;color: #6f625c;text-decoration: none;}
a:hover.proclass {color: #e99525;font-size: 14px;text-decoration: underline;}

a.proselect {font-size: 12px;color: #fff;text-decoration: none;font-weight: bold;}
a:visited.proselect {font-size: 12px;color: #fff;text-decoration: none;font-weight: bold;}
a:hover.proselect{color: #6d4836;font-size: 12px;text-decoration: underline;font-weight: bold;}

a.more {font-size: 12px;color: #e36000;text-decoration: none;font-weight: bold;}
a:visited.more {font-size: 12px;color: #e36000;text-decoration: none;font-weight: bold;}
a:hover.more{color: #efa300;font-size: 12px;text-decoration: underline;font-weight: bold;}

a.colorgreg {font-size: 14px;color: #e36000;text-decoration: none;font-weight: bold;}
a:visited.colorgreg {font-size: 14px;color: #e36000;text-decoration: none;font-weight: bold;}
a:hover.colorgreg{color: #efa300;font-size: 14px;text-decoration: underline;font-weight: bold;}

a.infolist_orning {font-size: 14px;color: #e36000;text-decoration: none;font-weight: bold;}
a:visited.infolist_orning {font-size: 14px;color: #e36000;text-decoration: none;font-weight: bold;}
a:hover.infolist_orning{color: #efa300;font-size: 14px;text-decoration: underline;font-weight: bold;}


input.searchinput {color: #fff;padding: 0px 5px 0px 5px;margin: 0px;border: 0px;cursor: pointer;background-color: #cccdcd;height:30px;line-height: 30px;}
input.searchinput:hover {height:30px;line-height: 30px;}

input.searchbotton {color: #fff;padding: 0px 5px 0px 5px;margin: 0px;border: 0px;cursor: pointer;background-color: #5a5050;height:30px;line-height: 30px;font-size:12px;font-weight: bold}
input.searchbotton:hover {color:#fffc00}

input.youinput {padding: 0px 5px 0px 5px;margin: 0px;border: 0px;cursor: pointer;background-color: #fff;height:23px;line-height: 23px;border:1px #cccdcd solid;color:#7a7a7a}
input.youinput:hover {height:23px;line-height: 23px;}

.padding-left5{padding-left:5px;}
.padding-right5{padding-right:5px;}

.plab{float:left;background-color:#ffffff; border:1px solid #dedede;margin-right:5px;height:25px;line-height:25px;padding-left:10px;padding-right:10px;display:block;overflow: hidden}
.plab1{float:left;background-color:#ffffff;border:1px solid #ee335a;margin-right:5px;height:25px;line-height:25px;padding-left:10px;padding-right:10px;display:block;overflow: hidden}

.formlist td, formlist th {padding: 10px 0px 5px 0px;vertical-align : middle;}
.formlist th {text-align: right;padding-right: 5px;font-weight:normal;}
.formlist2 td {padding-top:10px;}

.read_table1{margin-bottom: 15px;}
.read_table1 td {border: 1px solid #e6e4e2;padding:5px;margin: 0px;}

/*tablelist*/
.tablelist .td01 {background-color: #f3f1ef;border: 1px solid #e6e4e2;padding: 5px;height: 30px;line-height: 30px;font-weight: bold;}
.tablelist .td02 {border: #e6e4e2 1px solid;padding: 5px;height: 30px;line-height: 30px;}
.tablelist .td02_bg {background-color:#EDEDED;border-bottom: #fff 0px dotted;padding: 5px;height: 30px;line-height: 30px;}
.tablelist .td03 {padding:15px 0px;border-bottom: #e6e4e2 1px solid;}
.td03 img {vertical-align : middle;}
.tablelist .td04 {border-style: none none solid none;border-width: 0px 0px 1px 0px;border-color: #E6E6E6;padding: 5px;height: 30px;line-height: 30px;}
/*bbstable*/
.tablelist .td05{border: 1px solid #F0F0F0;padding: 5px 5px 5px 10px;}
.tablelist .td06{padding: 5px;height: 30px;line-height: 30px;}
.tablelist .td07 {border-bottom: #d2e5ef 1px dotted;padding: 5px;height: 30px;line-height: 30px;color:#707070;font-weight: bold}
.tablelist span {padding-left: 5px;color: #F13235;}

.tablelist2 .td01 {background-color: #f3f1ef;border-bottom: 1px solid #e6e4e2;padding: 5px;height: 30px;line-height: 30px;font-weight: bold;}
.tablelist2 .td02 {padding: 15px 0px;font-size:14px;}
.tablelist2 .td07 {padding: 15px 0px;color:#707070;font-weight: bold;font-size:14px;}
.tablelist2 span {padding-left: 5px;color: #F13235;}

.tablelist3 .td01 {background-color: #f3f1ef;border-bottom: 1px solid #f6f6f6;padding: 5px;height: 30px;line-height: 30px;font-weight: bold;}
.tablelist3 .td02 {padding: 15px 0px;font-size:12px;border-bottom: 1px solid #f6f6f6;}
.tablelist3 .td03 {padding: 15px 0px;font-size:12px;border-bottom: 0px solid #e6e4e2;}
.tablelist3 .td07 {padding: 15px 0px;color:#707070;font-weight: bold;font-size:12px;border-bottom: 1px solid #f6f6f6;}
.tablelist3 span {padding-left: 5px;color: #F13235;font-size:12px;}

.tablelist4 .td01 {text-align: center;background-color: #f3f1ef;border: 1px solid #e6e4e2;padding: 5px;height: 30px;line-height: 30px;font-weight: bold;}
.tablelist4 .td02 {padding: 10px 0px;font-size:12px;text-align: center;border: #e6e4e2 1px solid;}


input.memberinput {padding: 0px 5px 0px 5px;margin: 0px;cursor: pointer;height:31px;line-height: 31px;border:1px #d4d4d4 solid;color:#bfbfbf}
input.infoInput {padding: 0px 5px 0px 5px;margin: 0px;cursor: pointer;height:31px;line-height: 31px;border:1px #d4d4d4 solid;color:#bfbfbf}
select.select {padding: 5px;margin: 0px;cursor: pointer;border:1px #d4d4d4 solid;color:#bfbfbf}
textarea.htmltext {padding: 5px;margin: 0px;cursor: pointer;border:1px #d4d4d4 solid;color:#bfbfbf}
input.memberinput2 {padding: 0px 5px 0px 5px;margin: 0px;border: 0px;cursor: pointer;height:25px;line-height: 25px;border:1px #d4d4d4 solid;color:#bfbfbf}

input.buttonface {background: url(../images/botton_6.jpg) no-repeat;color: #41312b;font-size:18px;font-family: 微软雅黑,幼圆,黑体,Arial, Helvetica, sans-serif;padding: 0px;margin: 0px;width: 127px;height: 50px;line-height: 50px;border: 0px;cursor: pointer;text-align: center;}
input.buttonface:hover {background: url(../images/botton_6.jpg) no-repeat;color: #dd4900;font-size:18px;font-family: 微软雅黑,幼圆,黑体,Arial, Helvetica, sans-serif;padding: 0px;margin: 0px;width: 127px;height: 50px;line-height: 50px;border: 0px;cursor: pointer;text-align: center;}
input.buttonface2 {background: url(../images/botton_7.jpg) no-repeat;color: #41312b;font-size:18px;font-family: 微软雅黑,幼圆,黑体,Arial, Helvetica, sans-serif;padding: 0px;margin: 0px;width: 163px;height: 49px;line-height: 49px;border: 0px;cursor: pointer;text-align: center;}
input.buttonface2:hover {background: url(../images/botton_7.jpg) no-repeat;color: #dd4900;font-size:18px;font-family: 微软雅黑,幼圆,黑体,Arial, Helvetica, sans-serif;padding: 0px;margin: 0px;width: 163px;height: 49px;line-height: 49px;border: 0px;cursor: pointer;text-align: center;}
input.buttonface3 {background: url(../images/botton_8.jpg) no-repeat;color: #41312b;font-size:18px;font-family: 微软雅黑,幼圆,黑体,Arial, Helvetica, sans-serif;padding: 0px;margin: 0px;width: 140px;height: 40px;line-height: 40px;border: 0px;cursor: pointer;text-align: center;}
input.buttonface3:hover {background: url(../images/botton_8.jpg) no-repeat;color: #dd4900;font-size:18px;font-family: 微软雅黑,幼圆,黑体,Arial, Helvetica, sans-serif;padding: 0px;margin: 0px;width: 140px;height: 40px;line-height: 40px;border: 0px;cursor: pointer;text-align: center;}
input.buttonface4 {background: url(../images/botton_9.jpg) no-repeat;color: #41312b;font-size:18px;font-family: 微软雅黑,幼圆,黑体,Arial, Helvetica, sans-serif;padding: 0px;margin: 0px;width: 125px;height: 39px;line-height: 39px;border: 0px;cursor: pointer;text-align: center;}
input.buttonface4:hover {background: url(../images/botton_9.jpg) no-repeat;color: #dd4900;font-size:18px;font-family: 微软雅黑,幼圆,黑体,Arial, Helvetica, sans-serif;padding: 0px;margin: 0px;width: 125px;height: 39px;line-height: 39px;border: 0px;cursor: pointer;text-align: center;}
